
   @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
   
}

body {
background: linear-gradient(#f5ebe0) ;		
background-image:url('image/pic54.png');
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size:cover;

}

/* ul{
	width:7%;
	//background-image:url('image/img555.jpg');
	/* background-color: #f5ebe0; */
  
	
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: #f5ebe0;
	text-align: center;
	padding: 16px 30px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #9d8189;
  }
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    
}

.screen {		
	background-color:#f5ebe0;		
	position: relative;	
	height: 450px;
	width: 360px;	
	box-shadow: 0px 0px 24px #9d8189;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen_background_shape {
	transform: rotate(45deg);
	position: absolute;
}

section{
	margin: 50px;

   }
.screen_background_shape1 {
	height: 520px;
	width: 520px;
	background: #f5ebe0;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen_background_shape2 {
	height: 220px;
	width: 220px;
	background: #f5ebe0;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen_background_shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(#9d8189);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen_background_shape4 {
	height: 400px;
	width: 200px;
	background:#f5ebe0;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 50px;
	padding-top: 56px;
}

.login__field {
	padding: 20px 1px;	
	position: relative;	

  
}

.login__icon {
	position: absolute;
	top: 20px;
	color: #9d8189;
}

.login__input {
	border: none;
	border-bottom: 2px solid #9d8189;
	background: none;
    color:#9d8189;
	padding: 10px;
	padding-left: 4px;
	font-weight: 700;
	font-family: cursive;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #9d8189;
}


.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px ;
	padding: 16px 20px;
	border-radius: 36px;
	border: 1px solid #9d8189;
	text-transform: uppercase;
	font-weight: 700;
	
	
	align-items: center;
	width:130px;
	color: #9d8189;
    
	box-shadow: 0px 2px 2px #9d8189;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #9d8189;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #9d8189;
	
}

.social-login {	
	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;

	color:#9d8189;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
    color:#9d8189;
}

.social-login__icon {
	padding: 20px 10px;
	color:#9d8189;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #9d8189;
}
p{
	
	text-align:right;
	margin:20px;
	color:#9d8189
}
.a{
	text-align:left;
	margin:10px;
	color:#772d8b
}
.fo{
	margin:20px;
	
}